@import "../../constants-styles";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 35px;
  color: $accent60;
  position: sticky;
  top: 0;
  z-index: 99;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 168px;
    background: linear-gradient(180deg, #192A33 0%, rgba(25, 42, 51, 0) 100%, rgba(25, 42, 51, 0) 100%);
  }
  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }
  &__nav-list > li > a {
    padding: 4px 0;
  }
  &__menu-link {
    color: $accent30;
  }
  &__language-link {
    color: $primary50;
  }
  &__menu-active {
    color: $primary50;
    border-bottom: 2px solid $accent30;
  }
  &__language-active {
    color: $primary30;
  }
}